<!-- Dummy GoogleService-Info file !! replace with your configuration -->
 <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>440263922530-3copbt0dda1rdc12tgoak57mlo0pnk6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440263922530-3copbt0dda1rdc12tgoak57mlo0pnk6q</string>
	<key>API_KEY</key>
	<string>AIzaSyBcwqVHM9Fc1IoUZVBO8a4ywxyR2Ql2PWs</string>
	<key>GCM_SENDER_ID</key>
	<string>440263922530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.commercesenville.app</string>
	<key>PROJECT_ID</key>
	<string>commerces-en-ville-492ff</string>
	<key>STORAGE_BUCKET</key>
	<string>commerces-en-ville-492ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:440263922530:ios:8213314e9fccc9bf</string>
	<key>DATABASE_URL</key>
	<string>https://commerces-en-ville-492ff.firebaseio.com</string>
</dict>
</plist>
